---
layout: layouts/home.njk
menu:
  visible: true
  title: Home
  order: 0
---
{% include "templates/bulletin.njk" %}

<h2>Posts</h2>
{% set postslist = search.pages("type=posts", "date=desc") %}
{% include "templates/postslist.njk" %}
